!! Color Scheme Nord

#define nord0 [90]#2E3440
#define nord1 [90]#3B4252
#define nord2 [90]#434C5E
#define nord3 [90]#4C566A
#define nord4 [90]#D8DEE9
#define nord5 [90]#E5E9F0
#define nord6 [90]#ECEFF4
#define nord7 [90]#8FBCBB
#define nord8 [90]#88C0D0
#define nord9 [90]#81A1C1
#define nord10 [90]#5E81AC
#define nord11 [90]#BF616A
#define nord12 [90]#D08770
#define nord13 [90]#EBCB8B
#define nord14 [90]#A3BE8C
#define nord15 [90]#B48EAD

URxvt.depth: 32
URxvt.foreground:   nord4
URxvt.background:   nord0
URxvt.cursorColor:  nord4
URxvt.fading: 35
URxvt.fadeColor: nord3

URxvt.color0: nord1
URxvt.color1: nord11
URxvt.color2: nord14
URxvt.color3: nord13
URxvt.color4: nord9
URxvt.color5: nord15
URxvt.color6: nord8
URxvt.color7: nord5
URxvt.color8: nord3
URxvt.color9: nord11
URxvt.color10: nord14
URxvt.color11: nord13
URxvt.color12: nord9
URxvt.color13: nord15
URxvt.color14: nord7
URxvt.color15: nord6

!! Visual
URxvt.scrollBar: false
URxvt.pointerBlank: true

!! Fonts
URxvt.font: xft: DejaVu Sans Mono for Powerline-12

