name: build and publish container images
on:
  pull_request:
    branches:
      - main
    paths:
      - 'container/**'
      - '.github/workflows/container.yaml'
  push:
    branches:
      - main
    paths:
      - 'container/**'
      - '.github/workflows/container.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image: [base, nodejs, python, rust]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        id: meta
        with:
          images: |
            ghcr.io/natsukium/${{ matrix.image }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          context: container
          file: container/Containerfile
          build-args: |-
            IMAGE=${{ matrix.image }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
