name: PR Dix Diff
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'container/**'
      - 'infra/**'
concurrency:
  group: dix-${{ github.event.pull_request.number }}
  cancel-in-progress: true
permissions:
  contents: read
  pull-requests: write
jobs:
  dix:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-nix
        with:
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: natsukium/nix-diff-action@374bf5037dc84fc520da2002beef2f2bd96f4e9b # v1.0.2
        with:
          attributes: |
            - displayName: kilimanjaro
              attribute: nixosConfigurations.kilimanjaro.config.system.build.toplevel
            - displayName: manyara
              attribute: nixosConfigurations.manyara.config.system.build.toplevel
            - displayName: tarangire
              attribute: nixosConfigurations.tarangire.config.system.build.toplevel
            - displayName: serengeti
              attribute: nixosConfigurations.serengeti.config.system.build.toplevel
            - displayName: arusha
              attribute: nixosConfigurations.arusha.config.system.build.toplevel
            - displayName: katavi
              attribute: darwinConfigurations.katavi.system
            - displayName: mikumi
              attribute: darwinConfigurations.mikumi.system
            - displayName: work
              attribute: darwinConfigurations.work.system
