name: build and cache
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/setup-nix/**'
      - '.github/workflows/test.yml'
      - 'applications/**'
      - 'flake-module.nix'
      - 'flake.lock'
      - 'flake.nix'
      - 'homes/**'
      - 'lib/**'
      - 'modules/**'
      - 'overlays/**'
      - 'pkgs/**'
      - 'systems/**'
  push:
    branches:
      - main
    paths:
      - '.github/actions/setup-nix/**'
      - '.github/workflows/test.yml'
      - 'applications/**'
      - 'flake-module.nix'
      - 'flake.lock'
      - 'flake.nix'
      - 'homes/**'
      - 'lib/**'
      - 'modules/**'
      - 'overlays/**'
      - 'pkgs/**'
      - 'systems/**'
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-nix
        with:
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Check flake
        run: nix flake check --no-build --all-systems --keep-going
  build:
    needs: check
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-14]
    steps:
      # workaround for "No space left on device"
      - name: Collect garbage
        if: matrix.os == 'ubuntu-latest'
        uses: easimon/maximize-build-space@fc881a613ad2a34aca9c9624518214ebc21dfc0c # v10
        with:
          root-reserve-mb: 8192
          swap-size-mb: 1024
          build-mount-path: "/nix"
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ./.github/actions/setup-nix
        with:
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Create /run for darwin
        if: matrix.os == 'macos-14'
        run: |
          printf "run\tprivate/var/run\n" | sudo tee -a /etc/synthetic.conf
          /System/Library/Filesystems/apfs.fs/Contents/Resources/apfs.util -t || true
      - name: build
        run: |
          export MAKEFLAGS="NIX:=nix"
          make
          df -h
